Options FollowSymLinks
RewriteEngine on
RewriteBase /

#RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
#RewriteRule ^(.*)$ https://%1/$1 [R=301,L]

RewriteRule ^watch/(.*)$ watch.php?imdb=$1 [NC]

RewriteRule youtube-video-downloader dconvert.php
RewriteRule search search.php
RewriteRule recent recent.php

RewriteRule ^imdbthumbs/(.*).jpg$ files/imdbposter.php?imdb=$1 [L,NC]
RewriteRule ^bgposters/(.*).jpg$ files/imdbimgs.php?imdb=$1 [L,NC]

ErrorDocument 404 /404.php